# created during build
buildkit.zip
libs
/app
*.dmg

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX18wOYRYZ0zUbcE7fVWxSuYAv3H/8CYtR0nK1shEwxJNsx2nHWy80GPW
/wIN51DvmyAggWrUwgqW8iAlWqY/re1L+PnsGHBBsCs=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
public_key.der

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX18++2NMShUqfXbuRmSM2ZWUaKu4KAcc6jTlz6vRCN8MQD0UwX9nQpc3
W4KI724c6KtwmalJi4yYpw==
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
*.pxm

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX18P7YaMpKwXySUzZ9JWF0J5J4qdasx+s4GEdT4wNGPz2b8tsvRDRprX
zoTAFx6mC83TbJ0nH6Au2BDm81ibsUoPV557V+Fyvpg=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
**/.DS_Store
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX182yLuvOgZSimTmMsyVrcI3Nbr5ta72qkUtRwzR6+xOu+Lk0fkSiM0+
ls8K+3oKFo9G4SOJn3vfAHsBXIJBmwqTXH/1Ym0deyY=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
CUSTOM*
*.bak
